body {
    font-family: 'montserrat', Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    
    background-size: cover;
}

.banner-principal {
    background-color: aliceblue;
}

header {
    background-color: transparent;
}

.social-bar {
    display: flex;
    
    
}

#nav-sup {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinhar o logo e o menu verticalmente */
    opacity: 1;
    align-items: center;
  }

#menu-header {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.botoes-menu {
    margin: 0 10px; 
    font-size:17px;
    font-family:Verdana;
    width:180px;
    height:60px;
    border-width:1px;
    color:#1a4e37;
    border-color:rgba(255, 255, 255, 0);
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    background-color:transparent;
  }

#logo-header {
    height: 140px;
    width: 140px;
    float: left;
}

.banner-principal {
   
    height: 700px;
    position: relative;
    background-color: transparent;
}

.txt-banner-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

footer {
    background-color: #1a4e37;
    height: 200px;
    color: white;
    padding-top: 20px;
}

.menu-footer {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

hr {
    color: #ffff;
    height: 2px;
    width: 50px;
    margin-bottom: 10px;
}









