/* HEADER */

header > .container {
    margin: 0;
    padding: 0;
}

#logo-header {
    height: 120px;
    width:120px;
}

#col-nav {
    padding: 0;
}

.custom-navbar-nav .nav-item {
    margin-right: 4rem;
}

.navbar {
    background-color:transparent;
}

/* BODY */

#slide-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-servicos h1 {
    text-align: center;
}

#titulo-servicos {
    margin-bottom: 2rem;
}








